@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}


/* shared style... */
.display-flex {
    display: flex;
}

.display-grid {
    display: grid;
}

.dark1 {
    color: rgb(19, 19, 19);
}

.dark2 {
    color: rgb(66, 66, 66);
}

.dark3 {
    color: rgb(114, 114, 114);
}

.btn-primary {
    border-radius: 8px;
    background: rgb(255, 144, 14);
    width: 180px;
    height: 64px;
    border: 0;
    outline: 0;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

/* shared style... */


header {
    background-color: rgba(255, 144, 14, 0.1);
}

.navbar, .banner {
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.nav-brand {
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0%;
    text-align: center;
}

.nav-links {
    justify-content: center;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 50px;
}

.nav-link {
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-family: Work Sans;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.banner {
    text-align: center;
}

.banner-content h1 {
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0%;
    text-align: center;
}

.banner-content p {
    margin-bottom: 35px;
}

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 100px;
}

.banner-image {
    width: 100%;
}